<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Edit Task</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Edit Task</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/task/edit/{id}(id=${task.taskId})}"
					th:object="${task}" method="post">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="taskId" class="col-form-label">Task Id</label> <input
								th:field="*{taskId}" class="form-control" id="taskId"
								placeholder="taskId" th:value="${task.taskId}"> <span
								th:if="${#fields.hasErrors('taskId')}" th:errors="*{taskId}"
								class="text-danger"></span>
						</div>

						<div class="form-group col-md-6">
							<label for="taskTimeunit" class="col-form-label">Task Time
								Unit</label> <input th:field="*{taskTimeunit}" class="form-control"
								id="taskTimeunit" placeholder="taskTimeunit" th:value="task.taskTimeunit">
							<span th:if="${#fields.hasErrors('taskTimeunit')}"
								th:errors="*{taskTimeunit}" class="text-danger"></span>
						</div>

						<div class="form-group col-md-6">
							<label for="taskTimevalue" class="col-form-label">Task Time
								Value</label> <input th:field="*{taskTimevalue}" class="form-control"
								id="taskTimevalue" placeholder="taskTimevalue" th:value="task.taskTimevalue">
							<span th:if="${#fields.hasErrors('taskTimevalue')}"
								th:errors="*{taskTimevalue}" class="text-danger"></span>
						</div>
						
						<div class="form-group col-md-6">
							<label for="taskTriggervalue" class="col-form-label">Task Time
								Value</label> <input th:field="*{taskTriggervalue}" class="form-control"
								id="timevalue" placeholder="taskTriggervalue" th:value="task.taskTriggervalue">
							<span th:if="${#fields.hasErrors('taskTriggervalue')}"
								th:errors="*{taskTriggervalue}" class="text-danger"></span>
						</div>

						<div class="form-group col-md-6">
							<label for="tasktype" class="col-form-label">Task Type</label> <select
								th:field="*{tasktype}" class="form-control" id="tasktype">
								<option th:each="taskType : ${taskTypes}"
									th:value="${taskType.tasktypeId}"
									th:text="${taskType.tasktypeId}" />
							</select> <span th:if="${#fields.hasErrors('tasktype')}"
								th:errors="*{tasktype}" class="text-danger"></span>
						</div>

						<div></div>
					</div>
					<div class="row">
						<div class="col-md-6 mt-3">
							<input type="submit" name="action" class="btn btn-primary"
								value="Edit Task">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Clear">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary"
								value="Cancel">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>