<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Task</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5" th:switch="${#lists.size(tasks)}">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="0">Task null</h2>
				<div th:case="*">
					<h2 class="my-5">Task</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Task ID</th>
								<th>Task Time Unit</th>
								<th>Task Time Value</th>
								<th>Task Triger Value</th>
								<th>Task Type Id</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="task : ${tasks}" th:value="${task}">
								<td th:text="${task.taskId}"></td>
								<td th:text="${task.taskTimeunit}"></td>
								<td th:text="${task.taskTimevalue}"></td>
								<td th:text="${task.taskTriggervalue}"></td>
								<td th:text="${task.tasktype.tasktypeName}"></td>
								
								<td><a th:href="@{/task/edit/{id}(id=${task.taskId})}"
									class="btn btn-primary"> <i class="fas fa-user-edit"></i>
								</a></td>
								<td><a th:href="@{/task/delete/{id}(id=${task.taskId})}"
									class="btn btn-primary"> <i class="fas fa-user-times"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/task/add-task" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>
				</p>
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
		<a href="/taskType/"><i class="fa fa-cogs"> Go to task types</i></a>
	</div>
</body>
</html>